@model IEnumerable<MyBooks.Models.Category>
<select name="book.Category">
    @foreach (var item in Model)
            {
                <option value="@item.MaCate">@item.MoTa</option>
            }
</select>
