
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <style>
        h1, h3, h5{
            text-align: center;
        }
    </style>
</head>
<section>
    <h1>MUA HÀNG THÀNH CÔNG</h1><br />
    <img width="50" style="float:right;left:-325px;top:-80px;position:relative" src="~/Image/R.png" />
    <h3>Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của MYBOOKS</h3>
    <h5>
        Nếu có thắc mắc cũng như khiếu nại, hãy liên hệ với MYBOOKS bằng số điện thoại
        0123 456 879. Chúng tôi sẽ phản hồi trong thời gian sớm nhất có thể.
    </h5>
    <div class="container" style="text-align:center">
    <img  width="200" src="~/Image/mybooks_logo.png" />
    </div>
</section>


