
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <style>
        h1, h3, h5{
            text-align: center;
        }
    </style>
</head>
<section>
    <h1>MUA HÀNG THÀNH CÔNG</h1>
    <h3>Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của MYBOOKS</h3>
    <h5>Nếu có thắc mắc cũng như khiếu nại, hãy liên hệ với MYBOOKS bằng số điện thoại
    0123 456 879. Chúng tôi sẽ phản hồi trong thời gian sớm nhất có thể.
    </h5>
</section>


