@model MyBooks.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Giỏ hàng</h2>
<a href="@Url.Action("TrangChu","Product")">Tiếp tục mua hàng</a>
    <table class="table">
        <thread>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
           Chưa có sản phẩm ... 
        </tbody>
    </table>

