
@{
    ViewBag.Title = "ChinhSachTT";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
    <div class="container">
        <h2 class="text"><br /> </h2>
        <div class="text">
            <div class="card p-4 mb-2">
                <h4 class="pt-2 text-center">Phương Thức Thanh Toán và Xuất Hóa Đơn</h4>
                <p class="p-2">
                    <b>CHÍNH SÁCH THANH TOÁN</b>
                    <br />
                    <b>1.Các hình thức thanh toán</b>
                    <br />
                    Khách hàng có thể lựa chọn một hoặc nhiều hình thức thanh toán cho đơn hàng của mình khi mua sản phẩm trên website THEGIOIHANGNHAT.COM để thanh toán:
                    <br />
                    <b>1.1 Thanh toán trả trước:</b> là hình thức thanh toán trực tuyến mà khách hàng sử dụng để thanh toán cho đơn hàng, bao gồm:
                    <br />
                    (i) Mã giảm giá (Gift Code);
                    <br />
                    –  Mã còn trong thời gian sử dụng và có giá trị thanh toán > 0.
                    <br />
                    –  Đơn hàng thỏa mãn các điều kiện của chương trình áp dụng Gift Code.
                    <br />
                    (ii) Thẻ ATM (Thẻ ghi nợ/thanh toán/trả trước nội địa);
                    <br />
                    –  Để thanh toán bằng thẻ ngân hàng nội địa, thẻ của khách hàng phải được đăng ký sử dụng tính năng thanh toán trực tuyến, hoặc ngân hàng điện tử của Ngân hàng. Giao dịch phải được ghi nhận thành công từ thông báo cấp phép thành công do hệ thống cổng thanh toán trả về (đảm bảo số dư/hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).
                    <br />
                    (iii) Thẻ thanh toán quốc tế, thẻ tín dụng. (Visa, Master, JCB, Amex, UnionPay…)
                    <br />
                    –  Giao dịch phải được ghi nhận cấp phép thành công do đúng hệ thống cổng thanh toán trả về (đảm bảo số dư/hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).
                    <br />
                    <b>1.2 Thanh toán trả sau:</b> là hình thức mà khách hàng sử dụng để thanh toán cho đơn hàng khi thegioihangnhat giao hàng, bao gồm:
                    <br />
                    (iv) Tiền mặt (COD);
                    <br />
                    –  Là hình thức giao hàng thu tiền, là tiền Việt Nam Đồng thật và đủ tiêu chuẩn lưu thông theo quy định của Ngân hàng Nhà nước Việt Nam.
                    <br />
                    <b>2. Quy định áp dụng thanh toán</b>
                    <br />
                    <b>2.1 Thanh toán trả trước và thanh toán trả sau:</b>
                    <br />
                    Được áp dụng cho tất cả khách hàng của THEGIOIHANGNHAT.COM sử dụng các hình thức thanh toán được chấp nhận.
                    <br />
                    <b>2.2 Quy định kết hợp các hình thức thanh toán:</b>
                    <br />
                    Khách hàng chỉ có thể kết Giftcode với một trong các hình thức thanh toán còn lại nêu tại mục 1.
                    <br />
                    <b>2.3 Lưu trữ thông tin – thanh toán một bước:</b>
                    <br />
                    Khi khách hàng thanh toán lần đầu tiên thành công thì có thể sử dụng chức năng thanh toán một bước. Để sử dụng, khách hàng đăng nhập tài khoản THEGIOIHANGNHAT lựa chọn bật chức năng thanh toán một bước, hệ thống đã tự động lưu trữ các thông tin và đặt mặc định sẵn trong đơn hàng tiếp theo.
                    <br />
                    Các thông tin mặc định bao gồm:
                    <br />
                    – Thông tin người đặt hàng: tên, số điện thoại, địa chỉ, email (nếu có).
                    <br />
                    – Thông tin người nhận hàng: mặc định giống thông tin người nhận của đơn hàng đặt thành công trước đó (khách hàng có thể điều chỉnh nếu muốn).
                    <br />
                    – Hình thức thanh toán mặc định theo đơn hàng trước đó (khách hàng có thể tùy chọn thay đổi hình thức thanh toán khác).
                </p>
            </div>

        </div>
    </div>
</section>

