
@{
    ViewBag.Title = "ChinhSachVC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
    <div class="container">
        <h2 class="text"><br /> </h2>
        <div class="text">
            <div class="card p-4 mb-2">
                <h4 class="pt-2 text-center">Chính Sách Vận Chuyển</h4>
                <p class="p-2">
                    <b>CHÍNH SÁCH VẬN CHUYỂN</b>
                    <br />
                    Thời gian giao hàng:
                    <br />
                    -Hàng hóa sẽ được giao đến địa chỉ Quý khách hàng cung cấp trong đơn hàng đặt trên website www.thegioihangnhat.com
                    <br />
                    -Sau khi quý khách đã đặt hàng thành công, đội ngũ Chăm sóc khách hàng của chúng tôi sẽ tiến hành liên hệ theo số điện thoại bạn cung cấp để xác minh đơn hàng, đồng thời thông báo về thời gian bạn nhận được hàng, kèm theo các thông tin cần thiết khác.
                    <br />
                    -Sau khi quá trình xác minh thành công, đơn hàng sẽ được giao đến quý khách trong khoảng thời gian sau đây (Các đơn đặt hàng ngoài giờ hành chính sẽ tính thời gian bắt đầu từ sáng ngày hôm sau):
                    <ul>
                        Lưu ý:
                        <li>Đơn hàng đặt sau 10h sáng Thứ Bảy cho đến hết Chủ Nhật sẽ được bắt đầu chuyển vào Thứ Hai tuần kế tiếp.</li>
                        <li>
                            Thời gian giao hàng trong ngày từ 08h đến 18h từ thứ Hai đến thứ Bảy
                        </li>
                        <li>Các đơn đặt hàng ngoài giờ hành chính sẽ tính thời gian bắt đầu từ sáng ngày hôm sau</li>
                        <li>Thời gian giao hàng được bắt đầu tính từ lúc đơn hàng của quý khách được xác nhận thành công bằng cuộc gọi của nhân viên CSKH.</li>
                        <li>Trong trường hợp khách hàng trong nội thành Hà Nội và Hồ Chí Minh cần giao hàng nhanh trong vòng 1h-2h, phí vận chuyển sẽ thay đổi tùy theo địa điểm nhận hàng.</li>
                        <li>Trong trường hợp đối tác giao nhận không thể liên hệ hoặc giao hàng cho Quý khách vì nguyên nhân chủ quan hoặc khách quan từ phía Quý khách trong vòng 02 ngày làm việc, đơn hàng sẽ không còn hiệu lực.</li>
                        <li>Quý khách có quyền hủy đơn đặt hàng khi chúng tôi giao hàng trễ theo cam kết.</li>
                    </ul>
                    <ul>
                        <li>Miễn phí vận chuyển đối với những đơn hàng khu vực TP. HCM và Tp. Hà Nội</li>
                        <li>Phí vận chuyển áp dụng cho các tỉnh thành còn lại trong toàn quốc, Chi tiết xin liên hệ hotline 0918 390 365 để được báo giá vận chuyển cụ thể tùy theo địa điểm nhận hàng.</li>
                    </ul>
                    Phí vận chuyển đối với các đơn hàng tỉnh xa: Phí vận chuyển tính trên trọng lượng hàng hóa. Chi tiết xin liên hệ hotline 0918 390 365 để được thông báo cụ thể.
                    <br />
                    Các chính sách và quy định khác: Đối với các đơn hàng yêu cầu giao hỏa tốc, khách hàng vui lòng liên hệ hotline 0918 390 365  để được tư vấn cụ thể.
                    <br />
                    Nếu Quý Khách hàng có bất kì câu hỏi liên quan đến cách đặt hàng hoặc Chính sách giao hàng, vui lòng liên hệ với chúng tôi: Địa chỉ email cskh@thegioihangnhat.vn  . Điện thoại: 0918 390 365 hoặc (+028) 38 497 999
                </p>
                    
            </div>

        </div>
    </div>
</section>



