
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.466983396756!2d106.69946661402399!3d10.775500962159182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f470441cf6b%3A0xb897ab92a680457a!2sCHANEL!5e0!3m2!1svi!2s!4v1667111284524!5m2!1svi!2s" width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="container">
    <p>
        Địa chỉ:
        <br />
        165 Cách Mạng Tháng 8, Phường 5, Quận 1, TP. Hồ Chí Minh
        <br />
        Chi nhánh:
        <br />
        367 Phạm Văn Đồng, Phường 11, Quận Bình Thạnh, TP. Hồ Chí Minh (gần Phan Văn Trị)
        <br />
        Điện thoại:
        <br />
        0933180766
        <br />
        Email:
        <br />
        chanel@mail.com
    </p>
</div>
