
@{
    ViewBag.Title = "ChinhSachBH";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
    <div class="container">
        <h2 class="text"><br /> </h2>
        <div class="textr">
            <div class="card p-4 mb-2">
                <h4 class="pt-2 text-center ">Chính Sách Bảo Hành</h4>
                <p class="p-2">
                    <b>+Điều kiện bảo hành</b>
                    <br />
                    1.1 Sản phẩm được bảo hành miễn phí nếu đảm bảo tất cả các điều kiện sau:
                    <br />
                    – Sản phẩm thuộc danh mục được bảo hành từ Nhà sản xuất hoặc Nhà phân phối.
                    <br />
                    – Sản phẩm bị lỗi kỹ thuật do Nhà sản xuất.
                    <br />
                    – Thời hạn bảo hành trên phiếu bảo hành vẫn còn hiệu lực.
                    <br />
                    – Phiếu bảo hành còn nguyên vẹn, không chắp vá, không bị gạch xóa hay sửa chữa, bôi bẩn.
                    <br />
                    – Phiếu bảo hành đầy đủ thông tin: mã sản phẩm, số seri, ngày sản xuất, tên khách hàng sử dụng, địa chỉ, ngày mua (đối với các sản phẩm không áp dụng Bảo hành điện tử).
                    <br />
                    – Tem bảo hành và tem niêm phong (nếu có) của Nhà sản xuất trên sản phẩm còn nguyên vẹn.
                    <br />
                    1.2 Sản phẩm không được bảo hành hoặc sẽ phát sinh phí bảo hành nếu rơi vào một trong các trường hợp sau:
                    <br />
                    – Sản phẩm không thuộc danh mục được bảo hành từ Nhà sản xuất hoặc nhà phân phối.
                    <br />
                    – Sản phẩm không thỏa mãn một trong những điều kiện bảo hành ở mục 1.
                    <br />
                    – Số series, model sản phẩm không khớp với Phiếu bảo hành.
                    <br />
                    – Khách hàng tự ý can thiệp sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy nhiệm của Nhà sản xuất.
                    <br />
                    – Sản phẩm bị hư hỏng do lỗi người sử dụng, và lỗi hư hỏng không nằm trong phạm vi bảo hành của Nhà sản xuất.
                    <br />
                    – Với trường hợp phát sinh phí bảo hành, nhân viên chăm sóc khách hàng của Chanel sẽ tư vấn đầy đủ thông tin cho khách hàng trước khi tiến hành các thủ tục bảo hành.
                    <br />
                    1.3 Thời hạn bảo hành
                    <br />
                    Thời hạn bảo hành được tính kể từ ngày mua hàng hoặc kể từ ngày sản xuất tùy thuộc từng loại sản phẩm được quy định rõ trên phiếu bảo hành. Đối với sản phẩm bảo hành điện tử, thời hạn bảo hành được tính từ thời điểm kích hoạt bảo hành điện tử.
                    <br />
                    <b>+Phương thức áp dụng bảo hành</b>
                    <br />
                    2.1. Địa điểm bảo hành
                    <br />
                    – Địa điểm bảo hành được ghi trong phiếu bảo hành kèm theo sản phẩm. Quý khách vui lòng liên hệ trực tiếp với Trung tâm Bảo hành của Nhà cung cấp/Nhà Phân phối theo thông tin trong phiếu bảo hành.
                    <br />
                    – Bộ phận hỗ trợ chăm sóc khách hàng Chanel sẽ hỗ trợ hướng dẫn Quý khách hàng phương thức đến các trung tâm bảo hành bên ngoài của Nhà sản xuất, Nhà phân phối tham gia vào hệ thống bảo hành sản phẩm dịch vụ Chanel. Mọi thông tin của Nhà cung cấp thành viên được ghi trên phiếu biên nhận giao hàng/hóa đơn được đính kèm trong thùng hàng.
                    <br />
                    – Nếu Quý khách gặp khó khăn trong việc liên hệ Trung tâm Bảo hành, quý khách vui lòng liên hệ với bộ phận Chăm sóc khách hàng của Chanel theo địa chỉ mail  contact@chanel.vn hoặc số hotline: 028.3849 7999 để được hỗ trợ.
                    <br />
                    2.2. Thời gian thực hiện bảo hành
                    <br />
                    Trong mọi trường hợp, thời gian thực hiện bảo hành sản phẩm phụ thuộc vào chính sách và/hoặc mức độ sẵn có của thiết bị/sản phẩm thay thế của Trung Tâm Bảo Hành và sẽ được thông báo cụ thể cho Quý khách (i) vào thời điểm Trung Tâm Bảo Hành nhận sản phẩm để bảo hành trong trường hợp quý khách tự đem sản phẩm đến Trung Tâm Bảo Hành; hoặc (ii) ngay khi thegioihangnhat nhận được thông báo về thời gian bảo hành trong trường hợp quý khách thực hiện bảo hành sản phẩm qua thegioihangnhat.
                    <br />
                    Trong mọi trường hợp, Chanel không chịu trách nhiệm về bất kỳ thiệt hại, mất mát nào xảy ra nếu Quý khách không thực hiện theo hướng dẫn tại Chính sách bảo hành này.
                </p>
            </div>
        </div>

    </div>
</section>


