
@{
    ViewBag.Title = "ChinhSachHT";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section>
    <div class="container">      
            <h2 class="text"><br /> </h2>
            <div class="text">
                <div class="card p-4 mb-2">
                    <h4 class="pt-2 text-center">Chính Sách Hoàn Trả</h4>
                    <p class="p-2">
                        <b><sup>*</sup>LÝ DO CHẤP NHẬN TRẢ HÀNG.</b>                         
                        <ul>+Sản Phẩm:
                            <li>Nếu sản phẩm quý khách nhận được không còn nguyên vẹn hoặc không nguyên mới, qúy khách vui lòng thông báo ngay cho Thegioihangnhat trong vòng 48 giờ kể từ thời điểm nhận hàng. Thegioihangnhat xin từ chối mọi khiếu nại về tình trạng ngoại quan của sản phẩm trong trường hợp quý khách thông báo cho Thegioihangnhat sau này</li>                            
                            <li>Đối với sản phẩm bị lỗi, không phải hàng chính hãng hoặc không đúng với các thông tin mô tả trên website Thegioihangnhat.com, chúng tôi có các chính sách đổi trả khác nhau tùy thuộc vào sản phẩm hoặc nhà cung cấp</li>
                            <li>Sản phẩm bị mất niêm phong, giao sai về số lượng</li>
                            <li>Sản phẩm hết hạn sử dụng trước hoặc vào ngày sản phẩm được giao cho quý khách.</li>                        
                        </ul>
                        <ul>+Dịch Vụ:
                         <li>Nếu sản phẩm quý khách nhận được không còn nguyên vẹn hoặc không nguyên mới, qúy khách vui lòng thông báo ngay cho Thegioihangnhat trong vòng 48 giờ kể từ thời điểm nhận hàng. Thegioihangnhat xin từ chối mọi khiếu nại về tình trạng ngoại quan của sản phẩm trong trường hợp quý khách thông báo cho Thegioihangnhat sau này</li>
                            <li>Đối với sản phẩm bị lỗi, không phải hàng chính hãng hoặc không đúng với các thông tin mô tả trên website Thegioihangnhat.com, chúng tôi có các chính sách đổi trả khác nhau tùy thuộc vào sản phẩm hoặc nhà cung cấp</li>
                            <li>Sản phẩm bị mất niêm phong, giao sai về số lượng</li>
                            <li>Sản phẩm hết hạn sử dụng trước hoặc vào ngày sản phẩm được giao cho quý khách.</li>
                        </ul>
                        <b>2.1. Điều kiện đổi trả hàng:</b>
                            <br />
                            – Sản phẩm không nằm trong danh mục sản phẩm đặc biệt trả hàng của thegiohangnhat. Xem tại Chính sách đổi trả hàng.
                            <br />
                            – Sản phẩm/voucher còn nguyên vẹn, đầy đủ nhãn mác, nguyên đai kiện, niêm phong theo quy cách ban đầu (trừ trường hợp sản phẩm bị lỗi hoặc bị hư hại trong quá trình vận chuyển).
                            <br />
                            – Voucher chưa dùng và còn thời hạn sử dụng.
                            <br />
                            – Sản phẩm/dịch vụ còn đầy đủ phụ kiện (hướng dẫn sử dụng, phiếu bảo hành…) và tặng phẩm đi kèm (nếu có).
                            <br />
                            – Sản phẩm không bị dơ bẩn, không qua giặt là, không có mùi lạ, không có dấu hiệu đã qua sử dụng, hoặc không có dữ liệu (trường hợp sản phẩm có thiết bị lưu trữ).
                            <br />
                            – Khách hàng còn giữ xác nhận về việc đã mua hàng tại thegiohangnhat (số đơn hàng, hóa đơn mua hàng, biên nhận giao hàng, sao kê của ngân hàng…).
                            <br />
                            – Không đổi trả với lý do không ưng ý, các sản phẩm không đáp ứng những yêu cầu trên có thể sẽ không được hỗ trợ đổi trả. Mong quý khách thông cảm.
                            <br />
                            <b>2.2.  Thời gian áp dụng trả hàng</b>
                            <br />
                            – Trừ khi được quy định khác đi trong phần giới thiệu về sản phẩm/dịch vụ trên website của thegiohangnhat, khách hàng có thời hạn 03 ngày kể từ ngày nhận hàng để gửi yêu cầu trả lại.
                            <br />
                            – Đối với hàng tươi sống, khách hàng có thời gian 120 phút (kể từ thời điểm nhận hàng) để yêu cầu gửi trả lại hàng nếu đáp ứng được điều kiện, lý do đổi trả sản phẩm.
                            <br />
                            <b>2.3. Thời điểm yêu cầu trả hàng sẽ được căn cứ theo:</b>
                            <br />
                            – Nếu khách hàng gửi theo đường bưu điện hay chuyển phát: thời điểm tính theo dấu biên nhận của bưu điện hay đơn vị chuyển phát.
                            <br />
                            – Nếu khách hàng tự mang/gửi hàng tới trung tâm đổi trả: thời điểm tính khi nhân viên  thegiohangnhat tiếp nhận sản phẩm trả lại từ khách hàng.
                            <br />
                            <b>2.4. Chi phí trả hàng</b>
                            <br />
                            – Đối với các sản phẩm/voucher trả lại do lỗi của thegiohangnhat hoặc NCC, khách hàng sẽ được miễn phí trả lại hàng hoá.
                            <br />
                            – Đối với các sản phẩm/voucher trả lại do khách hàng thay đổi nhu cầu sử dụng, trừ trường hợp bài giới thiệu sản phẩm/voucher quy định áp dụng phí trả hàng, khách hàng sẽ được miễn phí trả lại.
                            <br />
                            <b>+QUY ĐỊNH HOÀN TIỀN</b>
                            <br />
                            <b>3.1. Nguyên tắc hoàn tiền</b>
                            <br />
                            – Phương thức hoàn tiền căn cứ theo phương thức thanh toán của khách hàng khi mua hàng.
                            <br />
                            <b>Phương thức hoàn tiền</b>
                            <br />
                            Các phương thức hoàn tiền bao gồm:
                            <br />
                            – Hoàn tiền thông qua chuyển khoản ngân hàng.
                            <br />
                            – Hoàn tiền mặt tại trung tâm đổi trả của thegiohangnhat (không áp dụng cho đơn hàng ngoài Hồ Chí Minh).
                            <br />
                            thegiohangnhat không hoàn tiền mặt cho hàng hóa liên tỉnh: ưu tiên hoàn tiền qua hình thức chuyển khoản ngân hàng của khách hàng.
                            <br />
                            <b>Thời gian xử lý</b><br />
                            thegiohangnhat sẽ gửi kết quả phản hồi yêu cầu hoàn trả tới Khách hàng thông qua email hoặc/và tin nhắn SMS trong vòng tối đa 02 ngày làm việc kể từ khi thegiohangnhat nhận lại sản phẩm.
                            <br />
                            Nếu yêu cầu hoàn trả đáp ứng các yêu cầu tại mục 2, thegiohangnhat sẽ thực hiện thủ tục hoàn tiền cho khách hàng kể từ khi yêu cầu đổi trả được thực hiện trong thời gian như sau:
                            <br />
                            – Với phương thức thanh toán không thông qua ngân hàng: khách hàng sẽ nhận được tiền hoàn từ 5-7 ngày làm việc.
                            <br />
                            – Với phương thức thanh toán thông qua ngân hàng: thegiohangnhat sẽ hoàn tất thủ tục hoàn tiền từ 5-7 ngày làm việc và gửi yêu cầu tới ngân hàng để xử lý, hoàn tiền vào tài khoản cho khách hàng.
                            <br />
                            Thegiohangnhat không chịu trách trong các trường hợp hàng hóa hỏng hóc trong quá trình vận chuyển đến Trung tâm đổi trả Thegiohangnhat.
                            <br />
                            (*) Chúng tôi sẽ tiến hành kiểm tra chất lượng và chỉ đổi trả sản phẩm mới hoặc trả toàn bộ số tiền mà quý khách đã thanh toàn nếu sản phẩm đáp ứng đủ các điều kiện đổi trả theo mục 1 quy định.</p>                   
                </div>
            </div>       
    </div>
</section>


