
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link href="~/Content/stylepro.css" rel="stylesheet" />
</head>
<section>
    <div class="container">
        <div class="row py-5">
            <h2 class="text-center">Thông Tin Về MyBooks <br /> </h2>
            <div class="col-lg-4 col-md-6">
                <div class="card p-4 mb-2">
                    <h4 class="pt-2 text-center">Nhà Sáng Lập</h4>
                    <p class="p-2 ">
                        MyBooks bắt đầu thành lập và phát triển từ năm 2022. Nhằm phục vụ nhu cầu đọc sách và đáp ứng những người có đam mê với sách, truyện.
                    </p>
                    <img src="~/Image/thongtin_anh1.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card p-4 mb-2">
                    <h4 class="pt-2 text-center">Mảng Sách</h4>
                    <p class="p-2">
                        Thành lập năm 2022 với mục đích có thể đem lại những trải nghiệm tốt cho những người có niềm đam mê với sách giấy trong thời đại Internet đang ngày càng phát triển.
                    </p>
                    <img src="~/Image/thongtin_anh2.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card p-4 mb-2">
                    <h4 class="pt-2 text-center">Địa chỉ của MyBooks</h4>
                    <p class="p-2">
                        MyBooks tạm thời chưa có bất kì chi nhanh bán hàng trực tiếp nào. Tất cả giao dịch đều sẽ được thực hiện trực tuyến và thông qua phương thức giao hàng để có thể gửi
                        tận tay khách hàng.
                    </p>
                    <img src="~/Image/thongtin_anh3.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>





